{
  "root": true,

  "plugins": ["@typescript-eslint"],
  "extends": [
    // "plugin:@typescript-eslint/recommended",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],

  "rules": {
    // runtime errors
    "import/no-unresolved": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,

    // red flags (thus, warnings)
    "import/no-named-as-default": 1,
    "import/no-named-as-default-member": 1,
    "import/no-duplicates": 1,

    // auto-fixable import order
    "import/order": [
      2,
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },

          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "warnOnUnassignedImports": true,
        "alphabetize": {
          "order": "asc"
        }
      }
    ],

    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/consistent-type-imports": [
      1,
      { "prefer": "type-imports" }
    ]
  }
}
