@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [role='button'] {
    cursor: default;
  }
}

html,
body {
  /* Load  fonts */
  font-family: var(--fonts-sans);

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;

  /* Deactivate auto-enlargement of small text in Safari */
  text-size-adjust: 100%;
}

/**
   * Form elements render using OS defaults,
   * so font-family inheritance must be specifically declared
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body {
  /* overscroll-behavior: none; */
  background: var(--colors-background);
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  appearance: none;
  /* background-color: #fff; */
}

:focus:not(.focus-visible) {
  outline: none;
}
